.calEntry {
    background-size: 100%;
    margin: auto !important;
    padding-left: 70px;
    text-align: left !important;
    border: none;
    width: 100% !important;
    color: var(--main-colour);
    font-family: "Goudy Bookletter 1911";
    border-radius: 50px;
    font-size: 30px ;
    padding-bottom: 70px !important;
    padding-top: 70px !important; 
    opacity: 0.5;
}

.calEntry:hover {
    opacity:1;
}

.month {
    background-color: var(--background-colour);
    margin: auto !important;
    text-align: center !important;
    border: solid var(--main-colour);
    width: 100% !important;
    color: var(--main-colour);
    font-family: "Goudy Bookletter 1911";
    border-radius: 50px;
    font-size: 40px;
    padding-bottom: 70px !important;
    padding-top: 70px !important; 
    opacity: 0.5;
}

.month:hover {
    opacity:1;
}

.dropCal {
    opacity:1;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top: solid var(--main-colour);
    border-right: solid var(--main-colour);
    border-bottom: none;
    border-left: solid var(--main-colour);
}

.apogee {
    background-image: url("../images/apogee.png");
}

.asteroid {
    background-image: url("../images/asteroid.png");
}

.comet {
    background-image: url("../images/comet.png");
}

.conjunction {
    background-image: url("../images/cnjct.png");
}

.equinox {
    background-image: url("../images/equinox.png");
}

.fullmoon {
    background-image: url("../images/fullmoon.png");
}

.lnrEcps {
    background-image: url("../images/lunareclipse.png");
}

.mars {
    background-image: url("../images/mars.png");
}

.mercury {
    background-image: url("../images/mercury.png");
}

.meteor {
    background-image: url("../images/meteor.png");
}

.nwmn {
    background-image: url("../images/nwmn.png");
}

.occultation {
    background-image: url("../images/occultation.png");
}

.perihelion {
    background-image: url("../images/sunset.png");
}

.perigee {
    background-image: url("../images/supermoon.png");
}

.slrEcps {
    background-image: url("../images/solareclipse.png");
}

.venus {
    background-image: url("../images/venus.png")
}

button {
    cursor: pointer;
    margin:auto;
}
img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

/* dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    padding-left: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    text-align: left;
    /* position: absolute; */
    background-color: var(--background-colour);
    /* border: #ebf7ff !important; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: solid var(--main-colour);
    border-left: solid var(--main-colour) !important;
    border-right: solid var(--main-colour) !important;
    width: 90%-1px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* accommodate for small screen sizes */
@media screen and (max-width: 600px) {
    .dropdown-content:not(.dropdown) {
        font-size: 15px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .month {
        width: 100% !important;
    }
    .calEntry {
        width: 100% !important;
        padding-left: 45px !important;
        padding-top: 45px !important;
        padding-bottom: 45px !important;
        font-size: 20px !important;
    }
}