#searchBarForm {
    overflow: visible !important;
    /* overflow: hidden; */
    z-index: 100;
    /* height: 47px; */
}

.topnav {
    /* overflow: hidden; */
    border-bottom: solid var(--main-colour);
    background-color: var(--background-colour);
    top: 0;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 2;
    font-family: "Goudy Bookletter 1911";
    font-size: 25px;
}

.topnav a {
    float: left;
    display: block;
    color: var(--main-colour);
    text-align: center;
    /* height: 60px; */
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--main-colour);
    color: var(--background-colour);
}

.topnav a.active {
    background-color: var(--main-colour);
    color: var(--background-colour);
}

.topnav .icon {
    display: none;
}

.topnav .search-container {
    float: right;
    margin:auto;
    /* overflow: auto; */
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--main-colour);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: var(--main-colour);
}

span {
    /* text-align: center !important; */
    display: inline;
    /* margin-top: 8px;
    margin-right: 40px; */
    margin: auto;
    padding: 6px 10px;
}

@media screen and (max-width: 1050px){
    #datetime {display: none;}
}

@media screen and (max-width: 700px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.anchor-link {
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
        height: 325px; 
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#datetime {
    /* font-size: 30px; */
    text-align: right;
    padding-right: 300px;
    padding-top: 14px;
}

#searchInput {
    position: relative;
    color: var(--background-colour);
    top: 8px;
    background-color: var(--main-colour);
    z-index:99;
    outline: none;
    box-shadow: none;
    height: 20px;
    /* width: 60px !important; */
    /* padding-right: 100px; */
}

#searchSubmit {
    position: relative;
    top: 8px;
    font-size: 17px;
    z-index:90;
    height: 32px;
}

#menubar {
    font-size: 17px;
}