@import url("https://fonts.googleapis.com/css?family=Caveat");

.calEntry {
    background-size: 100%;
    margin: auto !important;
    padding-left: 70px;
    text-align: left !important;
    border: none;
    width: 700px !important;
    color: #ebf7ff;
    font-family: Caveat;
    border-radius: 50px;
    font-size: 30px ;
    padding-bottom: 70px !important;
    padding-top: 70px !important; 
    opacity: 0.5;
}

.calEntry:hover {
    opacity:1;
}

.dropCal {
    opacity:1;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top: solid #ebf7ff;
    border-right: solid #ebf7ff;
    border-bottom: none;
    border-left: solid #ebf7ff;
}

.apogee {
    background-image: url("images/apogee.png");
}

.asteroid {
    background-image: url("images/asteroid.png");
}

.comet {
    background-image: url("images/comet.png");
}

.conjunction {
    background-image: url("images/cnjct.png");
}

.equinox {
    background-image: url("images/equinox.png");
}

.fullmoon {
    background-image: url("images/fullmoon.png");
}

.lnrEcps {
    background-image: url("images/lunareclipse.png");
}

.mars {
    background-image: url("images/mars.png");
}

.mercury {
    background-image: url("images/mercury.png");
}

.meteor {
    background-image: url("images/meteor.png");
}

.nwmn {
    background-image: url("images/nwmn.png");
}

.occultation {
    background-image: url("images/occultation.png");
}

.perihelion {
    background-image: url("images/sunset.png");
}

.perigee {
    background-image: url("images/supermoon.png");
}

.slrEcps {
    background-image: url("images/solareclipse.png");
}

.venus {
    background-image: url("images/venus.png")
}

button {
    cursor: pointer;
    margin:auto;
}
img {
    width: 70%;
    height: 40%;
    object-fit: cover;
}

/* dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    padding-left: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    /* position: absolute; */
    background-color: #030c47;
    /* border: #ebf7ff !important; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: solid #ebf7ff;
    border-left: solid #ebf7ff !important;
    border-right: solid #ebf7ff !important;
    width: 619px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
} 