@import url("https://fonts.googleapis.com/css?family=Caveat");

/*dropdowns*/

/* .down {
    border: solid #ebf7ff;
    border-width: 0 15px 15px 0;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

.calEntry {
    background-size: 100%;
    margin: auto !important;
    padding-left: 70px;
    text-align: left !important;
    border: none;
    width: 70%;
    color: #ebf7ff;
    font-family: Caveat;
    border-radius: 50px;
    font-size: 30px;
    padding-bottom: 70px;
    padding-top: 70px; 
    opacity: 0.5;
}

.calEntry:hover {
    opacity:1;
}

.apogee {
    background-image: url("images/apogee.png");
}

.asteroid {
    background-image: url("images/asteroid.png");
}

.comet {
    background-image: url("images/comet.png");
}

.conjunction {
    background-image: url("images/cnjct.png");
}

.equinox {
    background-image: url("images/equinox.png");
}

.fullmoon {
    background-image: url("images/fullmoon.png");
}

.lnrEcps {
    background-image: url("images/lunareclipse.png");
}

.mars {
    background-image: url("images/mars.png");
}

.mercury {
    background-image: url("images/mercury.png");
}

.meteor {
    background-image: url("images/meteor.png");
}

.nwmn {
    background-image: url("images/nwmn.png");
}

.occultation {
    background-image: url("images/occultation.png");
}

.perihelion {
    background-image: url("images/sunset.png");
}

.perigee {
    background-image: url("images/supermoon.png");
}

.slrEcps {
    background-image: url("images/solareclipse.png");
}

.venus {
    background-image: url("images/venus.png")
}

button {
    cursor: pointer;
    margin:auto;
}
img {
    width: 70%;
    height: 40%;
    object-fit: cover;
}