.topnav a {
    /* float: left; */
    color: #ebf7ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    /* position: sticky; */
	/* top:0; */
}

.topnav a:hover {
    background-color: #ebf7ff;
    color: #030c47;
    /* position: sticky; */
}

.topnav a.active {
    background-color: #9ad6fc;
    color: #ebf7ff;
    /* position: sticky; */
}

.topnav .search-container {
    float: right;
    margin:auto;
    /* position: sticky; */
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    /* position: sticky; */
    border: none;
}


.topnav .search-container button:hover {
    background: #ccc;
    background: #ebf7ff;
    position: sticky;
}

@media screen and (max-width: 600px) {
	i {
		padding: 14px;
    }
    .topnav input[type=text] {
		border: 1px solid #ccc;  
		border: 1px solid #ebf7ff;  
    }
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #030c47; /* maybe change this colour */
}

#navbar a {
    float: left;
    display: block;
    color: #ebf7ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ebf7ff;
    color: #030c47;
}

#navbar a.active {
    background-color: #9ad6fc;
    color: #ebf7ff;
}