@import url("https://fonts.googleapis.com/css?family=Caveat");

body {
    margin: auto;
    font-family: Caveat;
    background-color: #030c47;
    color: #9ad6fc;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    
}

input {
    font-family: Caveat;
    color: #030c47;
    font-size: 20px;
}

hr {
    background-color: #ebf7ff; 
}

h1 {
    color: #9ad6fc;
}

h2 {
    color: #9ad6fc;
}

h3 {
    color: #9ad6fc;
}

.blueColour {
    color: #9ad6fc;
}

.centreHeading {
    margin: auto;
    border: 2px #ebf7ff;
    padding: 30px;
    background: #ebf7ff;
    color: #030c47;
}

.centreBox {
    margin: auto;
    width: 70%;
}

.loginCentreBox {
    margin: auto;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border: 10px solid #ebf7ff;
    position: relative;
    top: 10px;
}

hr {
    color: #ebf7ff;
}

small {
    color: #ebf7ff;
}

.centreText {
    text-align: center;
}

.centreText-Box {
    text-align: center;
    margin: auto;
    width: 70%;
}

p {
    color: #ebf7ff !important;
}

li {
    color: #ebf7ff;
}

s {
    color: #ebf7ff;
}

i {
    color: #9ad6fc !important;
}